<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>

    <header>
      <h1 class="Header-block">
        <div>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/posts">Post</a>
          {{#if logged_in}}
            <a class="logout" href="logout">Logout</a>
          {{else}}
            <a class="login" href="/login">login</a>
          {{/if}}
        </div>
        <div>
          <h1 class="logo-design">Tech Blog</h1>
        </div>
      </h1>
    </header>

    {{{body}}}
    <div class="block"></div>
    <footer class="footer">TechBlog 2021</footer>

  </body>
</html>