{{!  }}
{{#each planePosts as |planePosts| }}
  <section  class="Content">
    <div class="post-block">
      <a href="/{{id}}" class="Content-block">
        <div   class="title-post">
          {{planePosts.title}}
        </div>
        <div class="posts">
          <p>
            {{planePosts.content}}
        </div>
      </a>
    </div>
  </section>
  {{/each}}
