<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/reset.css" />
  </head>
  <body>
    <header>
      <h1 class="Header-block">
        <div>
          <a href="/home">Home</a>
          <a href="/posts">Post</a>
          <a class="login" href="/login">Login</a>
          <a class="logout" href="/login">Logout</a>
        </div>
        <div>
          <h1 class="logo-design">Tech Blog</h1>
        </div>
      </h1>
    </header>
    <!--  -->
    <section class="Content">
      <div class="post-block">
        <div class="Content-block">
          <p class="title-post">
            13 Tech Blog Post Ideas to Build Your 2021 Content
          </p>
          <div class="posts">
            <p>
              1. How-to Post Let’s start the list by discussing the most common
              type of blog post – a “how to.” Write a series of blog posts
              outlining a step-by-step process for how to solve common
              challenges you see customers facing each day. There is likely a
              whole new audience of people who have similar questions but are
              turning to Google for their answer. By finding your blog post
              through their search queries your IT company grows brand awareness
              and thought leadership.
            </p>
            <p>
              2. Case Studies Case studies are a great way to showcase how your
              brand, products, or services solved a customer’s challenge. It
              serves as a real-world example of how organizations can serve to
              benefit from working with your IT company by walking through your
              process from start to finish.
            </p>
            <p>
              3. Product + Service Updates A large part of having an IT company
              blog is to educate customers on new services, solutions, and ways
              to use technology (IE: product updates or features). The article
              can simply summarize: The name of the product update. What
              problems the update will solve. The benefit of the update for the
              end-user. Any necessary steps the end-user must take.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
  </body>
</html>
