<section class="Content">
  <div class="post-block">
    <div class="title-post bigger">Title</div>
    <p class="title-post decoration">Be specific</p>
    <textarea class="input-box" name="message" rows="1" cols="1"></textarea>
    <div class="title-post bigger">Body</div>
    <p class="title-post decoration">Include all the information</p>
    <textarea class="input-box" name="message" rows="10" cols="90"></textarea>
  </div>
  <!-- <div class="post-block"> -->

  <br />
  <!-- </div> -->
  <button class="submit">Submit</button>
</section>