* {
  /* border: 1px black solid; */
  margin: 0;
}
html,
.Header-block {
  background-color: rgb(2, 102, 69);
  min-height: 150px;
}
.Header-block a {
  text-decoration: none;
  margin-right: 50px;
  margin-left: 5px;
  color: black;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.login,
.logout {
  float: right;
}
.logo-design {
  text-align: center;
  max-width: 20%;
  font-size: 140%;
  margin: 10px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px rgb(158, 158, 158),
    0 0 42px rgb(226, 26, 53), 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
    0 0 151px #0fa;
}
.project-list {
  margin-left: 10%;
}
.post-block {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem black, 0 0 0.2rem black, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  margin-top: 15px;
}

.Content {
  padding: 40px 60px;
  /* min-height: 220px; */
  background-color: rgb(2, 102, 69);
}
.Content-block {
  background-color: rgb(63, 85, 79);
  font-size: 30px;
  min-height: 20px;
}
.title-post {
  padding-left: 10px;
  color: white;
  margin: 15px auto;
}
.posts {
  padding: 10px;
  background-color: #fff;
  color: black;
  font-size: 15px;
  margin-left: 15px;
}
.posts p {
  font-size: 18px;
  color: black;
  padding: 0 50px;
  margin-bottom: 15px;
}

.decoration {
  font-style: italic;
}
.bigger {
  font-size: 150%;
}
.input-box {
  min-width: 99%;
  min-height: 30px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px black;
  margin-bottom: 20px;
}
.comment_box {
  min-width: 90%;
  padding: 0;
  margin-left: 50px;
}
#comment-btn {
  float: right;
  margin: 5px;
}
.btn {
  float: right;
}
.comments-box {
  margin: 2px auto;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #888;
  border: #fefefe 1px solid;
}
.modal-header {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.submit {
  align-self: center;
  padding: 0.75rem 1.5rem;
  border-radius: 10rem;
  color: black;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.15rem;
}
.submit:hover {
  color: rgb(63, 85, 79);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(63, 85, 79);
  color: white;
  text-align: center;
}
.fill-View {
  background-color: rgb(2, 102, 69);
  height: 100vh;
}
.comment-display {
  font-weight: 600;
  margin: 0;
  padding: 3px;

  padding-left: 5px;
}
label {
  margin: 10px;
}
